.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  list-style-type: none;
  gap: 24px;
  max-width: 1200px;

}

.gallery-item {
  width: 360px;
  height: 200px;

}

.gallery-item:hover {
  transform: scale(1.10);
  transition: transform 0.3s;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}